# Virtual environment
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE / Editor files
.vscode/
.idea/

# Data (αν δε θέλεις να ανεβάσεις τα δεδομένα των ασθενών)
resources/
Resources/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log